.cardSpecs {
  border: black 1px solid;
  min-height: 150px;
  max-height: 150px;
  padding: 10px;
}

.cardPadding {
  padding-bottom: 15px;
  padding-top: 15px;
}

.center {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.blue {
  color: rgb(19, 8, 91);
}

.flex {
  display: flex;
  justify-content: space-between;
}
