<div class="container">
    <div class="flex" style="width: 100%;">
      <div class="picture">
      <img ng-src="{{ Poster }}" ></img>
    </div>
    <div class="textBlock">
      <h3 class="card-title blue">{{ Title }}</h3>
      <p class="card-text blue">Year: {{ Year }}</p>
      <p class="card-text blue">Actors: {{ Actors }}</p>
      <p class="card-text blue">Awards: {{ Awards }}</p>
      <p class="card-text blue">Director: {{ Director }}</p>
      <p class="card-text blue">Genre: {{ Genre }}</p>
      <p class="card-text blue">Metascore: {{ Metascore }}</p>
      <p class="card-text blue">Rated: {{ Rated }}</p>
      <p class="card-text blue">Runtime: {{ Runtime }}</p>
      <p class="card-text blue">Writer: {{ Writer }}</p>
      <p class="card-text blue">Rating: {{ imdbRating }}</p>
      <p class="card-text blue">Votes: {{ imdbVotes }}</p>
    </div>
    </div>
  </div>
</div>
